@import url(timer.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Staatliches&display=swap');

main.pomodoro {
    padding: 1.5em;
    border-radius: 20px;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.status.working {
    color:rgb(255, 57, 50);
}
.status.resting {
    color: rgb(58, 225, 58);
}

.count-hover {
    text-align: center;
    line-height: 40px;

    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
   
    background: white;
    cursor: pointer;
    z-index: 1;
}

.count-display {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 40px;
    
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 80px;
    height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
    background: white;
    transition: .2s;

    transform-origin: left;
    transform: scaleX(0);
}
.count-hover:hover + .count-display {
    transform: scaleX(1);
}