@import url(timer.css);

.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-weight: 600;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.time-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.time-container .total-time {
    font-size: 15px;
    margin-top: 5px;
}