@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}

body {
    background-image: url(../images/bg.png);
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.clock h1 {
    font-size: 55px;
}
.clock .clock-ampm {
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.3);
}
    .clock-ampm span.active {
        color: rgba(0, 0, 0, 1);
    }

main {
    font-size: 20px;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.name-form input{
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #aaa;
    transition: .15s;
    background: none;
}
    .name-form input:focus{
        border-bottom: 1px solid #000;
    }

.greeting { 
    font-weight: 600;
    font-size: 1.5em;
}

.setting-form {
    margin-top: 3em;
    display: flex;
}

.setting-form input {
    font-size: 1.3em;
    background: none;
    border:0;
    border-bottom: 1px solid #aaa;
    width: 1.5em;
    text-align: center;
}
    .setting-form input:focus{
        border-bottom: 1px solid #000;
    }

.setting-form input[type=submit] {
    background: #97e989;
    width: 3.5em;
    margin-left: 1.5em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px rgba(50, 50, 50, 0.1), 0 0 1px 2px rgba(50, 50, 50, 0.1);
    font-weight: 600;
}

    .setting-form input[type=submit]:active {
        box-shadow: 0 0 3px 3px rgba(50, 50, 50, 0.1), 0 0 5px 2px rgba(50, 50, 50, 0.1);
        transform: scale(0.96);
    }

.setting-times {
    display: flex;
    flex-direction: column;
}

.setting-times>div {
    width: 15em;
    display: flex;
    justify-content: space-between;
}

.setting-times>div+div {
    margin-top: 20px;
}

.time-results { 
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

@keyframes padeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {transform: translateY(-20px);}
    to {transform: translateY(0px);}
}

[hidden] { 
    display: none;
}


